.tab-container {
  width: 70vw;
}

.segment-container {
  display: flex;
  gap: 3px;
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 6px;
  overflow: scroll;
}

.segment-container .segment-button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 54px;
}

@media (max-width: 550px) {
  .tab-container {
    width: 90vw;
  }

  .segment-container {
    width: 90vw;
    overflow: scroll;
    white-space: nowrap;
  }
}
