.model-content-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.model-content-image {
  width: 45vw;
}

.model-content-scroller {
  width: 100%;
}

.model-close-button {
  background-color: #fef3c7;
}

.modal-title-div {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  margin-bottom: 1rem;
  width: 100%;
}

@media (max-width: 650px) {
  .model-content-image {
    width: 70vw;
  }
}
