.pricing-page {
  background: #ff7152;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  padding: 5rem;
  flex-direction: column;
}

.pricing-page-demo {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.pricing-card-container {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.pricing-card-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75%;
}

.pricing-title {
  font-size: 3.6rem;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
  width: 90%;
  line-height: normal;
}

@media (max-width: 550px) { 
  .pricing-title {
    width: 100%;
  }
}
