.demo-button-large {
  height: 56px !important;
}

.demo-button-small {
  height: 40px !important;
}

.demo-button-large a {
  font-weight: 600;
  font-size: 1.2rem;
}

.demo-button-small a {
  font-weight: 600;
  font-size: 1rem;
}

.demo-button-black-white {
  background: white !important;
}

.demo-button-black-white a {
  color: black;
}

.demo-button-brown-white {
  background: white !important;
}

.demo-button-brown-white a {
  color: #5e1b0c;
}

.demo-button {
  background-color: var(--brand-orange-1);
  border: none;
}

@media screen and (max-width: 560px) {
  .demo-button-large {
    height: 40px !important;
  }

  .demo-button-small {
    height: 32px !important;
  }

  .demo-button-large a {
    font-size: 1.5rem !important;
    font-weight: 600;
  }

  .demo-button-small a {
    font-size: 1.2rem !important;
    font-weight: 600;
  }
}
