/* GradientBackgroundWithCarousel.css */

.highlight-container {
    background: linear-gradient(175deg, #F8F7F2 18.06%, #FF7152 85.46%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:100vw;
    padding: 4rem 0;
  }

  .highlight-center{
    width: 100%;
    height: 100%;
  }
  
  .title-container {
    margin: 2rem 2rem; 
  }
  
  .title-highlight {
    font-weight: 600;
    color: #1A1A1A;
    font-size: 3.3rem;
    text-align: left;
  }

 
  

  