.highlight-container {
  background: linear-gradient(175deg, #f8f7f2 18.06%, #ff7152 85.46%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding: 4rem 4rem;
}

.highlight-center {
  width: 100%;
  height: 100%;
}

.section-title-container {
  margin-bottom: 3rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  height: 40vh;
  border-radius: 1rem;
  margin: 0 0.1rem;
  position: relative;
}

.page-container .section-navigate-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
}

.page-container .section-navigate-icon a {
  color: black !important;
}

.page-title {
  width: 80%;
  margin-top: 0;
  font-size: 2rem;
  text-align: left;
  font-weight: 400;
  margin-bottom: 1rem;
}

.page-image {
  width: 100%;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 550px) {
  .page-container {
    height: 30vh;
    width: 85vw;
    overflow: hidden !important;
    margin: 0 auto;
  }
  .page-title {
    width: 90%;
  }
  /* .page-image {
    width: 150%; 
    height: 100%; 
    margin-left: -25%; 
  } */
  .highlight-container {
    padding: 4rem 0;
  }
}
