.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    height: 75vh;
    /* width: 65%; */
    border-radius: 1rem;
    margin: 0 0.5rem;
  }
  
  .page-title {
    height: 10%;
    width: 100%;
    margin-top: 0;
    font-size: 2.2rem;
    text-align: left;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .page-image {
    max-width: 80%;
    height: 80%;
    margin-bottom: 3rem;
  }
  