.colorpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3.5rem;
}

.colorpage-title {
  height: 8%;
  width: 40%;
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}

.colorpage-image {
  /* max-width: 80%; */
  height: 60%;
  width: 100%;
  margin-bottom: 2rem;
}

.colorpage-text{
  font-size: 1rem;
  width: 60%;
}