body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

:root {
  --brand-orange-1: #fe6533;
  --brown: #3a2b2b;
  --primary-bg-color: #f8f7f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 551px) and (max-width: 750px) {
  html {
    font-size: 70%;
  }
}

.slider-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  height: 65vh;
  border-radius: 1rem;
  margin: 0 0.1rem;
  position: relative;
}
