body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

:root {
  --brand-orange-1: #fe6533;
  --brown: #3a2b2b;
  --primary-bg-color: #f8f7f2;
  --oval-button-radius: 28px;
  --large-button-height: 40px;
  --default-button-border-radius: 4rem;
  --default-button-height: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 551px) and (max-width: 750px) {
  html {
    font-size: 70%;
  }
}

.slider-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  height: 65vh;
  border-radius: 1rem;
  margin: 0 0.1rem;
  position: relative;
}

.section-title {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.btn {
  border: none;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: var(--default-button-height);
}

.btn-rounded {
  border-radius: var(--default-button-border-radius);
}

.btn-large {
  height: 56px;
}

.btn-round {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card {
  border-radius: 20px !important;
}

.body-text {
  font-size: 2rem;
}

.underlined {
  text-decoration: underline !important;
}

section {
  padding: 4rem 3rem;
  overflow: hidden;
}

.img-border {
  border: 1px solid #e3e3e3;
  border-radius: 16px;
}

.button-large {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.button-small {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.button-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 550px) {
  .btn-round {
    height: 3.5rem;
    width: 3.5rem;
  }

  .btn-round img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .card {
    border-radius: 10px !important;
  }

  .img-border {
    border-radius: 8px;
  }

  .button-large {
    font-size: 14px;
  }
  .button-small {
    font-size: 14px;
  }
  .button-text {
    font-size: 14px;
  }
}
